<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a>
        </li>
        <li><a ng-href="#">About</a>
        </li>
        <li><a ng-href="#">Contact</a>
        </li>
    </ul>
    <h3 class="text-muted">revealcm</h3>
</div>

<div class="row">

    <ul id='example-messages' class='example-chat-messages'>
        <li ng-repeat='msg in slider'>
            <strong class='example-chat-username'>{{msg.title}}</strong>
            <button class="btn btn-danger" ng-click="deleteSlide(msg)">Delete</button>
            <button class="btn btn-success" ng-click="getSlide(msg)">Get</button>
            <button class="btn btn-success" ng-click="updateSlide(msg)">Update</button>
        </li>
    </ul>
    <form class="form-horizontal">

        <div class="form-group">
            <label>Title:</label>
            <input type="text" ng-model="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Content:</label>
            <textarea type="text" ng-model="content" class="form-control" required></textarea>
            <wysiwyg textarea-id="content" textarea-class="form-control" textarea-height="80px" textarea-name="textareaQuestion" textarea-required ng-model="content" enable-bootstrap-title="true" textarea-menu="{{wysiwygMenu}}"></wysiwyg>
        </div>

        <div class="form-group">
            <button id="Add" name="Add" class="btn btn-primary" ng-click="addSlider()">Submit</button>
        </div>
    </form>
</div>


<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>